html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #343646;
}

::-webkit-scrollbar-corner {
    background: #424558;
}

h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header{
    height: 100px;
}

footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #AAA;
}

nav{
    width: 100%;
    background-color: #424558;
    z-index: 1;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}
.top_bar{
   display: table;
   margin: auto;
}
.menu_button:hover{
    border-top: 5px solid #6A708C;
    background-color: #474B5E
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.stacking-slide {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
}
.stacking-slide:nth-last-child(1) {
    height: 100vh;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.stacking-slide {
    padding: 3rem;
    box-shadow: 0 0px 10px 1px black;
    background-color: white;
}

#about{
    background-image: url(../Imgs/one.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#about h1{
    font-size: bolder;
    color: white;
}

.sec{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
}

#profile_picture{
    background-image: url(../Imgs/photo.jpg);
    width: 237px;
    height: 300px;
    box-shadow: 0 0 5px 1px black;
    margin-right: 30px;
}
h1{
    font-family: Impact, sans-serif;
    margin-top: 0px;
}

#skills{
    background-image: url(../Imgs/two.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#skills h1{
    font-size: bolder;
    color: white;
}

#skills_container{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
}

#skills_container{
    display: flex;
    justify-content: center;
}
.skill_info{
    width: 31%;
}

#experiences{
    background-image: url(../Imgs/three.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
#experiences h1{
    font-size: bolder;
    color: white;
}
#experiences_container{
    display: flex;
    justify-content: center;
    margin-top: 155px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
}
#experiences_left{
    width: 33%;
}
.line{
    width: 3px;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
    margin-right: 35px;
    margin-left: 30px;
}
#experiences_right{
    width: 30%;
}

#hobbies_anchor{
    background-image: url(../Imgs/four.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    font-size: bolder;
    color: white;
}

.text_hobbies{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 15%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
    color: black;
}

#hobbies{
    justify-content: center;
}
#hobbies h1{
    width: 100%;
}
.hobbies_container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 400px; /*C'est pour l'espace au centre pour chaque colonne*/
    grid-row-gap: 80px; /*C'est l'espace du dessus en dessous pour chaque ligne*/
}
.images_hobbies{
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px 1px black;
    border-radius: 20px;
}

.top_left .images_hobbies{
    background-image: url(../Imgs/muscu.jpg);
}
.bottom_left .images_hobbies{
    background-image: url(../Imgs/cinema.jpg);
}
.top_right .images_hobbies{
    background-image: url(../Imgs/gaming.jpg);
}
.bottom_right .images_hobbies{
    background-image: url(../Imgs/livre.jpg) ;
}

section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
}

.sec{
    margin: 0px 10%;
    display: flex;
}

.left{
    float: left;
    width: 30%;
}
.right{
    float: left;
    width: 70%;
}

#contact_informations h1{
    font-size: bolder;
    color: white;
}

#contact_informations{
    background-image: url(../Imgs/five.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#contact-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#text_contact{
    margin-right: 20px;
}

.sec::after, .exp::after, .conatct_informations::after{
    content: "";
    display: table;
    clear: both;
}

#contact-container{
    display: flex;
    justify-content: center;
    margin-top: 215px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
}

footer{
    height: 40px;
}

/*@media screen and (max-width: 780px){
    #about{
            height: 200px;
            width: 100px
        }
    #skills{
        height: 200px;
        width: 100px
    }
    #experiences{
        height: 200px;
        width: 100px
    }
    #hobbies{
        height: 200px;
        width: 100px
    }
    #contact_informations{
        height: 200px;
        width: 100px
    }
}*/

/*Commande version phone
@media screen and (max-width: 780px){
    header{
        height: 50px;  
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
} */